button {
    display: flex;
    justify-content: center;
    padding: auto;
    margin: auto;
    background-color: rgb(84, 255, 215);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}